.symbol>img {
    width: 100px;
    height: 100px;
}
.symbol-label {
    width: 100px;
    height: 100px;
}

.table td {
    color: #252f4a;
}
.description-color {
    color: #78829D;
}

.remove-margin p {
    margin-bottom: 0px;    
    }

 .removeparamargin ::ng-deep p{
    margin-bottom: 0px;
    }
     