<div class="card card-custom gutter-b card-stretch card-border">
    <div class="card-body d-flex flex-column rounded justify-content-between">
        @if(((product.SiteName !== undefined && product.SiteName !== null && product.SiteName !== '') &&
        (product.DepartmentName === null || product.DepartmentName === ''))){
        <div style="width: 43px; height: 47px; position: absolute; top: 0px; left: 80%; padding-top: 15px; padding-left: 10px;"
            class="text-white bg-warning">
            <span translate="TRANSLATE.CUSTOMER_PRODUCTS_LIST_TITLE_SITE"></span>
        </div>
        }
        @if((product.DepartmentName !== undefined && product.DepartmentName !== null && product.DepartmentName !== '')){
        <div style="width: 47px; height: 47px; position: absolute; top: 0px; left: 77%; padding-top: 15px; padding-left: 8px;"
            class="text-white bg-primary">
            <span translate="TRANSLATE.RIBBON_TITLE_DEPARTMENT"></span>
        </div>
        }
       
        <div class="text-center rounded mb-7" [ngClass]="{'mb-10': product.LinkedSubscriptionId}">
            <div class="symbol mr-3" *ngIf="product.ImageUrl">
                <img class="symbol-label" [src]="product.ImageUrl">
            </div>
            <div class="symbol mr-3 " *ngIf="!product.ImageUrl">
                <span class="symbol-label fs-1 bg-dark text-white">
                    {{product.ProductSubscriptionName | formatforinitials}}
                </span>
            </div>
        </div>
        <div>
            <h4 class="fs-3 product-title">
                <a class="fw-bold"
                    [ngClass]="{'text-danger' : product.Status.toLowerCase() === 'suspended' || product.Status.toLowerCase() === 'deleted', 'text-gray-800' : product.Status.toLowerCase() !== 'suspended' || product.Status.toLowerCase() !== 'deleted'}"
                    [innerHtml]="product.ProductSubscriptionName| limitLength:40"
                    ngbTooltip="{{product.ProductSubscriptionName}}" tooltip-placement="bottom"
                    (click)="callManageProduct()">
                </a><span
                    *ngIf="product.ProductSubscriptionName !=null && product.ProductSubscriptionName.length > 40"></span>
                <br />
                <small *ngIf="product.LinkedSubscriptionId != null" class="text-muted fs-6 fw-normal"><i
                        class="ki-outline ki-paper-clip text-warning small "></i><span
                        [innerHtml]="product.LinkedSubscriptionName| limitLength:25"></span><span
                        *ngIf="product.LinkedSubscriptionName !=null && product.LinkedSubscriptionName.length > 25"></span></small>
            </h4>
            <div class="fs-3 text-info fw-bold"
                *ngIf="product.FinalSalePrice!==null && product.BillingTypeName.toLowerCase() === cloudHubConstants.BILLING_TYPE_PRICE">
                {{product.Quantity * product.FinalSalePrice | CurrencyFilter : product.CurrencySymbol :
                product.CurrencyDecimalPlaces : product.CurrencyThousandSeparator : product.CurrencyDecimalSeparator}}
                <!--<br />
                <small class="fw-bold text-muted">
                    ({{product.Quantity}} * {{product.FinalSalePrice}})
                    <del class="text-danger">({{product.Quantity}} * {{product.OriginalSalePrice}})</del>
                </small>-->
                <!-- <small *ngIf="product.Discount != null && product.Discount > 0">
                    <del class="text-danger">{{product.OriginalSalePrice | CurrencyFilter :
                        product.CurrencySymbol : product.CurrencyDecimalPlaces :
                        product.CurrencyThousandSeparator : product.CurrencyDecimalSeparator}}</del>
                </small> -->
                <small>
                    <span *ngIf="product.Discount != null && product.Discount > 0" class="fw-normal text-danger">
                        <!--<span class="ng-binding strike-through red">
                            {{product.Quantity * product.OriginalSalePrice  | CurrencyFilter : product.CurrencySymbol : product.CurrencyDecimalPlaces : product.CurrencyThousandSeparator : product.CurrencyDecimalSeparator}}
                        </span>-->
                        <small>
                            <span *ngIf="product.DiscountType == 'Percentage'" class="text-danger" class="text-danger">
                                {{product.Discount}}% <span translate="TRANSLATE.CUSTOMER_PRODUCT_DISCOUNT_TEXT"></span>
                            </span>
                            <span *ngIf="product.DiscountType != 'Percentage'">
                                {{product.Discount | CurrencyFilter : product.CurrencySymbol :
                                product.CurrencyDecimalPlaces : product.CurrencyThousandSeparator :
                                product.CurrencyDecimalSeparator }} <span
                                    translate="TRANSLATE.CUSTOMER_PRODUCT_DISCOUNT_TEXT"></span>
                            </span>
                        </small>
                    </span>
                </small>
                <div class="fs-3 text-info fw-bold"
                    *ngIf="product.LinkedProductFinalSalePrice!==null && product.BillingTypeName.toLowerCase() === cloudHubConstants.BILLING_TYPE_PRICE">
                    <i class="ki-outline ki-paper-clip text-warning"></i>
                    {{product.Quantity * product.LinkedProductFinalSalePrice | CurrencyFilter : product.CurrencySymbol :
                    product.CurrencyDecimalPlaces : product.CurrencyThousandSeparator :
                    product.CurrencyDecimalSeparator}}
                    <small>
                        <span *ngIf="product.LinkedProductDiscount != null && product.LinkedProductDiscount > 0" class="text-danger fw-normal">
                            <small>
                                <span *ngIf="product.LinkedProductDiscountType == 'Percentage' && product.LinkedProductDiscount > 0" class="text-danger">
                                    {{product.LinkedProductDiscount}}% <span
                                        translate="TRANSLATE.CUSTOMER_PRODUCT_DISCOUNT_TEXT"></span>
                                </span>
                                <span *ngIf="product.LinkedProductDiscountType != 'Percentage' && product.LinkedProductDiscount > 0">
                                    {{product.LinkedProductDiscount | CurrencyFilter : product.CurrencySymbol :
                                    product.CurrencyDecimalPlaces : product.CurrencyThousandSeparator :
                                    product.CurrencyDecimalSeparator }} <span
                                        translate="TRANSLATE.CUSTOMER_PRODUCT_DISCOUNT_TEXT"></span>
                                </span>
                            </small>
                        </span>
                        <!-- && product.ShowPromotionLink-->
                        <span *ngIf="product.IsLinkedProductPromotionAvailableForCustomer"
                            (click)="checkNceLinkedProductPromotionEligibility(product)"
                            class="mb-0 mr-2 font-weight-normal  separator-primary text-primary cursor-pointer"><span
                                tooltip-append-to-body="true"
                                ngbTooltip="{{'TRANSLATE.NCE_PROMOTIONS_AVAILABLE_TEXT' | translate}}"><i
                                    class="ki-outline ki-discount text-primary"></i></span></span>
                    </small>
                </div>
            </div>
        </div>
        <div class="mt-2">
            @if (product.ValidityType !== null && product.Validity !== '' && product.ValidityType == 'Month(s)')
            {
            <span class="label label-warning fw-bold label-inline text-white badge bg-warning"
                ngbTooltip="{{'TRANSLATE.CUSTOMER_PRODUCT_TOOLTIP_TEXT_TERM_DURATION' | translate}}">
                {{product.Validity}}
                {{ (product.Validity === 1 ?
                (product.ValidityType === 'Month(s)' ?
                'TRANSLATE.TERM_DURATION_DESC_MONTH'
                : 'TRANSLATE.TERM_DURATION_DESC_YEAR')
                : 'TRANSLATE.TERM_DURATION_DESC_YEARS') | translate }}

            </span>
            }
            @if (product.ValidityType === 'Year(s)' || product.ValidityType === 'Year') {
            <span class="label label-warning fw-bold label-inline text-white badge bg-warning" aria-hidden="true"
                [ngClass]="{'labelcolor':product.BillingCycleName == 'Monthly','TermLabelColor': product.BillingCycleName == 'Annual'}"
                ngbTooltip="{{'TRANSLATE.CUSTOMER_PRODUCT_TOOLTIP_TEXT_TERM_DURATION' | translate}}">
                {{product.Validity}}
                {{ (product.Validity === 1 ? (product.ValidityType === 'Month(s)' ?
                'TRANSLATE.TERM_DURATION_DESC_MONTH' : 'TRANSLATE.TERM_DURATION_DESC_YEAR') :
                'TRANSLATE.TERM_DURATION_DESC_YEARS') | translate }}
            </span>
            }
            <span *ngIf="product.BillingCycleName !== null && product.BillingCycleName !== ''">
                <span *ngIf="product.BillingCycleName !== null && product.BillingCycleName !== ''"
                    class="label fw-bold label-inline text-white badge ms-md-2" [ngClass]="{
                        'bg-warning': product.BillingCycleName?.toLowerCase() === 'monthly',
                        'bg-success': product.BillingCycleName?.toLowerCase() === 'annual',
                        'bg-dark': product.BillingCycleName?.toLowerCase() === 'triennial',
                        'bg-info': product.BillingCycleName?.toLowerCase() === 'onetime'
                    }"
                    ngbTooltip="{{'TRANSLATE.CUSTOMER_PRODUCT_TOOLTIP_TEXT_BILLING_CYCLE' | translate}}">{{'TRANSLATE.'+product.BillingCycleDescription
                    | translate}}</span>
            </span>
            <span *ngIf="product.BillingTypeName !== null && product.BillingTypeName !== ''"
                class="label label-light-danger fw-bold label-inline text-danger badge bg-light-danger ms-md-2"
                ngbTooltip="{{'TRANSLATE.BILLING_TYPE_TOOLTIP' | translate}}">{{'TRANSLATE.'+product.BillingTypeName|translate}}</span>
            <span class="label label-light-primary fw-bold label-inline text-white badge bg-primary ms-md-2"
                *ngIf="product.AddonsCount > 0">{{product.AddonsCount}} {{'TRANSLATE.CUSTOMER_PRODUCT_ADDONS_LEBEL_TEXT'
                | translate}}</span>
            <span
                [ngClass]="{'label-light-success bg-light-success text-success': product.Status === 'Active','label-light-danger bg-light-danger text-danger': product.Status === 'Deleted' || product.Status === 'Suspended','label-light-warning bg-light-warning text-warning': product.Status === 'InProvision'}"
                class="label fw-bold label-inline badge ms-md-2"
                [translate]="'TRANSLATE.'+product.StatusDescription"></span>
             @if(product.ShouldShowCancellationIcon && product.Status === 'Active'){
            <span class="pt-1 position-absolute ms-1" ngbTooltip="{{'TRANSLATE.PRODUCT_CANCELLATION_TEXT' | translate}}"><i class="ki-outline ki-time text-warning fs-3"></i></span>        
        }
          <span *ngIf="product.SubCategoryName !== null && product.SubCategoryName !== ''"
                class="badge badge-danger font-weight-bold label-inline ms-md-0" [appPermission]="'GET_SUBCATEGORIES_PILLS'"
                ngbTooltip="{{ 'TRANSLATE.PARTNER_CUSTOM_CATEGORY_FOR_SUBCATEGORY_TOOLTIP_PILL' | translate }}">
                {{ product.SubCategoryName | translate }}
            </span>
        </div>
        <div class="border-top mt-3" style="border-width: 10px;"></div>
        <!-- <perfect-scrollbar class="scroller-custom" wheel-propagation="true" swipe-propagation="true" on-scroll="onScroll(scrollTop, scrollHeight)" always-visible="true" style="height:100px"> -->
        <!-- Detail -->
        <div class="table-responsive-md product-details">
            <table class="table table-borderless table-vertical-center mb-0">
                <tbody>
                    <!--begin::Item-->
                    <tr>
                        <!--begin::Content-->
                        <td class="align-top pb-3">
                            <div class="fs-lg fw-bold text-muted mb-1">
                                {{'TRANSLATE.MICROSOFT_CART_LIST_TEMPLATE_ONLINE_SERVICES_LABEL_TEXT_UNIT_PRICE' |
                                translate }}</div>
                            <div class="fs-lg fw-bold text-dark-75">{{product.FinalSalePrice | CurrencyFilter :
                                product.CurrencySymbol : product.CurrencyDecimalPlaces :
                                product.CurrencyThousandSeparator : product.CurrencyDecimalSeparator}}</div>
                                <small *ngIf="product.Discount != null && product.Discount > 0">
                                    <del class="text-danger">{{product.OriginalSalePrice  | CurrencyFilter : product.CurrencySymbol : product.CurrencyDecimalPlaces : product.CurrencyThousandSeparator : product.CurrencyDecimalSeparator}}</del>
                                </small>
                        </td>
                        <td class="align-top pb-3">
                            <div class="fs-lg fw-bold text-muted mb-1">
                                {{'TRANSLATE.CUSROMER_PRODUCTS_LIST_TITLE_QUANTITY' | translate}}</div>
                            <span class="text-success fs-4 fw-bold ms-1">{{product.Quantity}}</span>
                            @if (HasManageProduct === 'Allowed' && (product.Status.toLowerCase() === cloudHubConstants.SUBSCRIPTION_STATUS_ACTIVE) && displayEditIcon=='true') {
                                @if(cloudHubConstants.ROLE_NAME_CUSTOMER_ADMIN_LITE_PLUS === userContext?.RoleName?.toLowerCase()){
                                    @if(product.ValidityType == 'Month(s)'){
                                        <span (click)="QuantityChangePopup()" class="cursor-pointer" ngbTooltip="{{'TRANSLATE.TOOLTIP_TEXT_EDIT_QUANTITY' | translate}}">
                                            <i class="ki-outline ki-pencil fs-5 ms-4 text-primary">
                                                <!-- <span class="path1"></span>
                                                <span class="path2"></span> -->
                                            </i>
                                        </span>
                                    }
                                   
                                }
                                @else {
                                    <span (click)="QuantityChangePopup()" class="cursor-pointer" ngbTooltip="{{'TRANSLATE.TOOLTIP_TEXT_EDIT_QUANTITY' | translate}}">
                                        <i class="ki-outline ki-pencil fs-5 ms-4 text-primary">
                                            <!-- <span class="path1"></span>
                                            <span class="path2"></span> -->
                                        </i>
                                    </span>
                                }
                           
                        }
                        </td>
                        <!--end::Content-->
                    </tr>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <tr>
                        <!--begin::Content-->
                        <td class="align-top pb-3">
                            <div class="fs-lg fw-bold text-muted mb-1">{{'TRANSLATE.CUSTOMER_PRODUCTS_ORDERED_ON'
                                | translate}}</div>
                            <div *ngIf="product.OrderedOn" class="fs-lg fw-bold text-dark-75">
                                {{product.OrderedOn | c3Date }}
                                <br />
                                <!--<i *ngIf="product.CommitmentEndDate" class="text-dark">
                                        <small>
                                            renew. {{product.CommitmentEndDate | localDate }}
                                        </small>
                                    </i>-->
                            </div>
                            <div *ngIf="!product.OrderedOn" class="fs-lg fw-bold text-dark-75">-</div>
                        </td>
                        <td class="align-top pb-3" *ngIf="product.PurchasedProductIsAutoRenew">
                            <div class="fs-lg fw-bold text-muted mb-1">
                                {{'TRANSLATE.CUSTOMER_PRODUCT_NCE_AUTO_RENEWS_ON_LABEL' | translate}}</div>
                            <div *ngIf="product.AutoRenewDate" class="fs-lg fw-bold text-dark-75">
                                {{product.AutoRenewDate | c3Date}}
                            </div>
                            <div *ngIf="!product.AutoRenewDate" class="fs-lg fw-bold text-dark-75">-</div>
                        </td>
                        <td class="align-top pb-3" *ngIf="!product.PurchasedProductIsAutoRenew">
                            <div class="fs-lg fw-bold text-danger mb-1">
                                {{'TRANSLATE.CUSTOMER_PRODUCT_NCE_EXPIRES_ON_LABEL' | translate}}</div>
                            <div class="fs-lg fw-bold text-danger">
                                {{product.PartnerOfferExpiresOn | c3Date }}
                            </div>
                            <div *ngIf="product.ValidityType==null" class="fs-lg fw-bold text-dark-75">-</div>
                        </td>
                        <!--end::Content-->
                    </tr>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <tr>
                        <!--begin::Content-->
                        <td class="align-top pb-3" *ngIf="product.SiteName">
                            <div class="fs-lg fw-bold text-muted mb-1">
                                {{'TRANSLATE.CUSTOMER_PRODUCTS_LIST_TITLE_SITE' | translate}}</div>
                            <div class="fs-lg fw-bold text-dark-75">{{product.SiteName}}</div>
                        </td>
                        <td class="align-top pb-3" *ngIf="product.DepartmentName">
                            <div class="fs-lg fw-bold text-muted mb-1">
                                {{'TRANSLATE.CUSTOMER_PRODUCTS_LIST_TITLE_DEPARTMENT' | translate}}</div>
                            <div class="fs-lg fw-bold text-dark-75">{{product.DepartmentName}}</div>
                        </td>
                        <!--end::Content-->
                    </tr>
                    <!--end::Item-->
                </tbody>
            </table>
        </div>
        <!-- </perfect-scrollbar> -->
        <div *ngIf="product.Status != 'Failed'" class="mt-3" [ngClass]="product.LinkedSubscriptionId == null ? 'relative-bottom':''">
            <div *ngIf="product.Status != 'Failed' && product.CategoryName !== 'LicenseSupported'">
                <a *ngIf="product.Status!='InProvision' &&  HasManageProduct === 'Allowed' && product.ErrorCount>0"
                    (click)="callShowErrors()" class="btn w-100 btn-sm btn-light-danger fw-bold text-uppercase py-4">
                    <span>{{ 'TRANSLATE.BUTTON_VIEW_ERRORS' | translate }}</span>
                </a>
                <a *ngIf="product.Status!='InProvision' &&  HasManageProduct === 'Allowed' && !product.ErrorCount"
                    class="btn w-100 btn-sm btn-light-primary fw-bold text-uppercase py-4"
                    (click)="callManageProduct()">
                    <span>{{ 'TRANSLATE.BUTTON_MANAGE_PRODUCT' | translate }}</span>
                </a>
                <a *ngIf="product.Status!='InProvision' &&  HasManageProduct === 'ReadOnly'"
                    class="btn w-100 btn-sm btn-light-info fw-bold text-uppercase py-4" (click)="callManageProduct()">
                    <span>{{ 'TRANSLATE.BUTTON_VIEW_PRODUCT' | translate }}</span>
                </a>
                <button *ngIf="product.Status=='InProvision'&& (product.ErrorCount==0||product.ErrorCount==null)"
                    class="btn w-100 btn-sm btn-light-warning fw-bold text-uppercase py-4" [disabled]="true">
                    <i class="fa fa-spinner fa-spin "></i>
                    <span>{{ 'TRANSLATE.BUTTON_PROCESSING' | translate}}</span>
                </button>
                <button *ngIf="product.Status=='InProvision' && product.ErrorCount>0"
                    class="btn w-100 btn-sm btn-light-danger fw-bold text-uppercase py-4" [disabled]="true">
                    <i class="fa fa-spinner fa-spin "></i>
                    <span>{{ 'TRANSLATE.BUTTON_PROCESSING' | translate}}</span>
                </button>
                <button *ngIf="product.Status=='Onhold'&& (product.ErrorCount==0||product.ErrorCount==null)"
                    class="btn btn-light-secondary" [disabled]="true">
                    <i class="fa fa-spinner fa-spin "></i>
                    <span>{{ 'TRANSLATE.BUTTON_ONHOLD' | translate}}</span>
                </button>
                <a *ngIf="HasManageProduct === 'Allowed' && !product.ErrorCount && product.CatagoryName === 'LicenseSupported'"
                    class="btn w-100 btn-sm btn-light-primary fw-bold text-uppercase py-4"
                    (click)="callManageProduct()">
                    <span>{{ 'TRANSLATE.BUTTON_MANAGE_PRODUCT' | translate }}</span>
                </a>
            </div>
            <div *ngIf="product.Status != 'Failed' && product.CategoryName === 'LicenseSupported'">
                <a *ngIf="HasManageProduct === 'Allowed' && !product.ErrorCount"
                    class="btn w-100 btn-sm btn-light-primary fw-bold text-uppercase py-4"
                    (click)="callManageProduct()">
                    <span>{{ 'TRANSLATE.BUTTON_MANAGE_PRODUCT' | translate }}</span>
                </a>
            </div>
        </div>
    </div>
</div>