.has-error input.form-control{
    border-color: #F64E60 !important;
}

.has-error .ui-select-bootstrap .ui-select-match .ui-select-toggle {
    border-color: red !important;
}
hr {
    border-color: #f1f1f4
}
