::ng-deep{
  app-public-signup-wizard{
    .tooltip{
      min-width: 100px;
    }
  }
}
.header-top {

  .landig-page-notification{
    border-radius: 0;
    background-color: #69A5FF;
    border:0;
    .notification-text{
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
    }
 
  }
    .custom-nav {
      margin: 0;
      padding: 10px 0;
      @media (min-width:992px) {
        padding:10px 6rem;
      }
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 10px;
      background-color: #0052cc;
    }
  
    .search-header-section {
      background-color: #0052cc;
      @media (min-width:992px) {
        padding:16px 6rem 0 6rem;
      }

      .row {
        display: flex;
        justify-content: space-between;
        .ki-magnifier .path1:before {
          left: 0 !important;
          right: 100% !important;
        }
        .ki-magnifier .path2:before {
          left: 0 !important;
          right: 100% !important;
        }
        .header-description{
          @media (max-width:991px) {
              justify-content: center;
          }
        .header-description-text1{
          @media (min-width:1220px) {
            font-size: 2.90rem !important;
          }
        }

        }
        .dashboard-logo{
          display: flex;
          justify-content: start;
          @media (max-width:991px) {
              justify-content: center;
          }
        }
      }
    }
  }
  .customer-container {
    background-color: #f3f3f5;
    @media (min-width:992px) {
      padding:0 6rem;
    }
    .actions {
      display: flex;
      justify-content: space-between;
    }
    .card {
      position: relative;
      overflow: hidden;
      box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.05);
      .card-body {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.3s ease;
      z-index: 10;
    }
  
    .card:hover .overlay {
      opacity: 1;
    }
  }
  .custom-button{
    width: fit-content !important;
    padding: 5px !important;
    color: #fff;
    .dashboard-goto-btn, i, .cart-text {
      color:#fff;
    }
    &:hover {
      color:#0052cc;
      .dashboard-goto-btn, i, .cart-text {
        color:#0052cc
      }
    }
  }

  .custom-cart-button{
    width: fit-content !important;
    padding: 5px !important;
    color: #fff;
    .dashboard-goto-btn, i, .cart-text {
      color:#fff;
    }
    // &:hover {
    //   color:#0052cc;
    //   .dashboard-goto-btn, i, .cart-text {
    //     color:#0052cc
    //   }
    // }
  }
  