<div class="card card-custom">
  <!-- begin::Header -->
  <div class="card-header card-header-stretch overflow-auto" *ngIf="(!isHideManageSubcategories && !isHidePartner) || !isHidePartner">
    <ul *ngIf="activeTab !== null" class="nav nav-stretch nav-line-tabs fw-semibold border-transparent flex-nowrap" role="tablist">
      <li class="nav-item" *ngIf="!isHidePartner">
        <a [appPermission]="'EDIT_PARTNER_OFFER'" routerLink="offers" routerLinkActive="text-primary active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link cursor-pointer" (click)="setActiveTab(tabs.Offers)" role="tab">
              {{'TRANSLATE.CUSTOM_OFFERS_BREADCRUMB_BUTTON_TEXT_CUSTOM_OFFERS' | translate}}
        </a>
      </li>

      <li class="nav-item" *ngIf="!isHidePartner">
        <a [appPermission]="'PARTNER_PROVISIONING_STATUS'" *ngIf="HasAccessUserLicenseTracking === 'Denied'" routerLink="provisioning" routerLinkActive="text-primary active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link cursor-pointer"
          (click)="setActiveTab(tabs.Provisioning)" role="tab">
          {{'TRANSLATE.TAB_HEADING_PROVISIONING_STATUS' | translate}}
        </a>
      </li>

       <li class="nav-item" *ngIf="!isHideManageSubcategories && !isHidePartner">
        <a [appPermission]="'TAB_PARTNER_OFFER_MANAGE_SUBCATEGORIES'" 
           routerLink="manage-subcategories" 
           routerLinkActive="text-primary active" 
           [routerLinkActiveOptions]="{ exact: true }" 
           class="nav-link cursor-pointer" 
           (click)="setActiveTab(tabs.ManageSubcategories)" 
           role="tab">
         {{ 'TRANSLATE.CUSTOM_OFFERS_BREADCRUMB_BUTTON_TEXT_MANAGE_SUBCATEGORIES' | translate }}

        </a>
      </li>

    </ul>
  </div>

  <div class="card-body custom-class">
    <router-outlet></router-outlet>
  </div>
</div>