@if(!!product&& !!permissions){
<div class="card product-description-card m-auto mx-3 mt-3 ">
    <div class="card-header shop-item-title flex-nowrap">
        <div class="card-title">
            <div *ngIf="product.ImageUrl">
                <div class="symbol symbol-label me-2">
                    <img class="symbol-label" [src]="product.ImageUrl"/>
                </div>
            </div>
            <div *ngIf="!product.ImageUrl" class="d-block symbol mr-5 pt-1 me-4">
                <span class="symbol-label fs-1 text-gray-800">
                    {{product.Name | formatforinitials}}
                </span>
            </div>
            <div>
                <div class="text">
                    <a href="javascript:void(0)" class="text-hover-primary text-gray-800"><span [innerHtml]="product.Name"
                            ngbTooltip="{{product.Name}}"
                            tooltip-placement="bottom"></span></a><!--<span class="card-title text-hover-primary font-weight-bolder font-size-h5 text-dark mb-1" ng-show="product.Name !=null && product.Name.length > 50">...</span>-->

                </div>
                <div class="chips">
                    @if(product.ProviderSettings != null && product.ProviderSettings != undefined){
                    <span class="label label-dark font-weight-bold label-inline text-primary badge bg-light-primary"
                     ngbTooltip="{{'TRANSLATE.CUSTOMER_PRODUCT_TOOLTIP_TEXT_SERVICE_TYPE' | translate}}"
                        *ngIf="product.ProviderSettings.ProviderCategory"
                        [translate]="product.ProviderSettings.ProviderCategory">
                    </span>
                    }
                    @if(product.ValidityType!=null && product.ValidityType == 'Month(s)'){
                    <span class="label label-warning font-weight-bold label-inline text-white badge bg-warning ms-md-1"
                     ngbTooltip="{{'TRANSLATE.CUSTOMER_PRODUCT_TOOLTIP_TEXT_TERM_DURATION' | translate}}">
                        {{product.Validity}} {{(product.Validity == 1 ? (product.ValidityType === 'Month(s)'?
                        'TRANSLATE.TERM_DURATION_DESC_MONTH' : 'TRANSLATE.TERM_DURATION_DESC_YEAR') :
                        ('TRANSLATE.TERM_DURATION_DESC_YEAR(S)')) | translate }} </span>
                    }
                    @if(product.ValidityType === 'Year(s)' || product.ValidityType === 'Year'){
                    <span class="label font-weight-bold label-inline text-white badge ms-md-1"
                     ngbTooltip="{{'TRANSLATE.CUSTOMER_PRODUCT_TOOLTIP_TEXT_TERM_DURATION' | translate}}"
                        [ngClass]="{'bg-warning': product.BillingCycleName?.toLowerCase() === 'monthly', 'bg-success': product.BillingCycleName?.toLowerCase() === 'annual', 'bg-dark': product.BillingCycleName?.toLowerCase() === 'triennial', 'bg-info': product.BillingCycleName?.toLowerCase() === 'onetime'}">{{product.Validity}}
                        {{(product.Validity == 1? (product.ValidityType === 'Month(s)'?
                        'TRANSLATE.TERM_DURATION_DESC_MONTH' : 'TRANSLATE.TERM_DURATION_DESC_YEAR') :
                        'TRANSLATE.TERM_DURATION_DESC_YEARS') | translate }} </span>
                    }
                </div>
            </div>
        </div>
        <div class="card-toolbar">
            <div>
                <button class="btn btn-sm btn-active-light-danger"
                    ngbTooltip="{{'TRANSLATE.DELETE_PRODUCT_BUTTON_TOOLTIP_TEXT' | translate}}"
                    tooltip-placement="bottom" *ngIf="permissions.HasDeleteCartItem === 'Allowed'"
                    (click)="callDeleteProductFromCart(product)">
                    <span class="svg-icon m-0 profile-info">
                        <i class="ki-outline ki-trash fs-3">
                            <span class="path2"></span>
                            <span class="path3"></span>
                        </i>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <hr class="divider m-0">
    <div class="card-body">
        <div class="text-gray-900 fs-6">
            {{product.Description}}
        </div>
    </div>
    <div class="card-bottom d-flex  flex-wrap" style="gap:30px;">
        <div class="price-details d-flex flex-column gap-4">
            <span class="text-dark fw-bolder" translate="TRANSLATE.CART_PAGE_TITLE_PRICE"></span>
            <div>
                <span class="text-primary fw-bolder">
                    {{product.FinalSalePrice | CurrencyFilter : product.CurrencySymbol :
                    product.CurrencyDecimalPlaces : product.CurrencyThousandSeperator :
                    product.CurrencyDecimalSeperator}}
                    <span *ngIf="product.Discount != null && product.Discount > 0" class="fw-bold text-danger">
                        <small>
                            <del>
                                {{(product.OriginalSalePrice !== undefined ? product.OriginalSalePrice :
                                product.OriginlaSalePrice) | CurrencyFilter : product.CurrencySymbol :
                                product.CurrencyDecimalPlaces : product.CurrencyThousandSeperator :
                                product.CurrencyDecimalSeperator}}
                            </del>
                            <span>{{ 'TRANSLATE.CART_PAGE_DISCOUNT_INFORMATION' | translate: {discount:
                                product.Discount } }}</span>
                        </small>
                    </span>
                </span>
                <span *ngIf="product.BillingCycleName && product.BillingCycleName !== ''">
                    <span class="text-muted">
                        {{product.BillingCycleName==='Annual'?'/ Year':''}}
                        {{product.BillingCycleName=='Monthly'?'/ Month':''}}
                        {{product.BillingCycleName=='OneTime'?'One time':''}}
                    </span>
                </span>
            </div>
        </div>
        @if(product.ServiceProviderCustomers != [] && product.ServiceProviderCustomers != undefined){
        <div class="me-7 cmw-35 max-width-300" *ngIf="product.ServiceProviderCustomers.length > 0">
            <span class="d-block font-weight-bolder"><span
                    translate="TRANSLATE.CART_ITEM_LBL_TEXT_TENANT_NAME_WITH_PROVIDER"></span></span>
            <div class="align-items-center pt-2">
                <select [(ngModel)]="selectedServiceProviderCustomer"
                    class="form-select form-select-solid form-select-lg fw-bold input-disable"
                    [disabled]="product.ServiceProviderCustomers.length == 1 || permissions.HasSaveCart !== 'Allowed'">
                    @for (tenant of product?.ServiceProviderCustomers; track $index) {
                    <option [value]="tenant" (click)="onChangeOfServiceProviderCustomer(product)">{{(tenant.CustomerName
                        + '-' + tenant.DomainName)}}</option>
                    }
                </select>
                <!-- <ui-select ng-model="cc.selectedServiceProviderCustomer" ng-disabled="product.ServiceProviderCustomers.length == 1 || permissions.HasSaveCart !== 'Allowed'" style="min-width: 100px;" title="{{$select.selected.DomainName}}" theme="bootstrap" reset-search-input="true">
                                    <ui-select-match placeholder="{{'CART_PLACEHOLDER_SELECT_MS_SERVICE_PROVIDER_CUSTOMER' | translate}}">
                                        <span ng-if="$select.selected.CustomerName && $select.selected.CustomerRefId">
                                            {{$select.selected.CustomerName}}({{$select.selected.DomainName}})
                                        </span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="tenant in product.ServiceProviderCustomers | propsFilter: {CustomerName: $select.search, CustomerRefId: $select.search, DomainName: $select.search}" ng-click="cc.onChangeOfServiceProviderCustomer(product)">
                                        <div style="white-space: normal" ng-bind-html="(tenant.CustomerName + '<br>' + tenant.DomainName)" ng-attr-title="{{tenant.DomainName}}"></div>
                                    </ui-select-choices>
                                </ui-select> -->
            </div>
        </div>
        }
        <div class="d-flex flex-wrap mt-5">
            <div class="row">
                <app-cart-linked-subscription [product]="product"></app-cart-linked-subscription>
                <div class="col-md-12 page-title p-1 bg-warning-approval" style="background-color:#f7f3ec"
                    *ngIf="product.NumberOfLicensesCustomerCanPurchase!=0 && product.NumberOfLicensesCustomerCanPurchase< (product.CurrentLicenseCount+product.Quantity)">
                    <small>
                        <span class="text-warning">
                            <i class="fa fa-exclamation-triangle text-warning"></i>
                            <span class="font-gold text-warning">
                                {{ 'TRANSLATE.CUSTOMER_CART_SEAT_LIMIT_MESSAGE' | translate: {SeatLimit:
                                product.NumberOfLicensesCustomerCanPurchase } }}
                            </span>
                        </span>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
}