<div class="modal-header">
    <div class="modal-text-primary">
        <h3 class="modal-title text-primary"><span >{{ 'TRANSLATE.BULK_INVOICE_PROGRESS_POPUP_HEADER' | translate }}</span></h3>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <ng-container *ngIf="!!datatableConfig">
                <app-c3-table [reload]="reloadEvent" [datatableConfig]="datatableConfig">
                </app-c3-table>
              </ng-container>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-sm custom-cancel-btn" type="button" (click)="close()"> <span>{{ 'TRANSLATE.BULK_INVOICE_DOWNLOAD_POPUP_CLOSE' | translate }}</span></button>
</div>