<div class="modal-dialog m-0 m-auto" style="max-width:100%;">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title text-primary" id="modal-title"><span class="text-primary"
                    translate="TRANSLATE.MICROSOFT_CUSTOMER_USER_CREDENTIAL_POPUP_HEADER"></span></h3>
        </div>
        <div class="modal-body">
            <h3 translate="TRANSLATE.MICROSOFT_CUSTOMER_USER_CREDENTIAL_MESSAGE" class="text-start mb-5"></h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="form form-horizontal" role="form" novalidate>
                        <table align="center">
                            <tr class="fs-4 text-end">
                                <td class="fw-bold">{{'TRANSLATE.MICROSOFT_CUSTOMER_USER_CREDENTIAL_LABEL_USERNAME' |
                                    translate}}</td>
                                <td>&nbsp;:&nbsp;</td>
                                <td ngbTooltip="{{UserEmail | translate}}"><strong>{{UserEmail | limitLength:50}}{{UserEmail.length > 50 ? '...' : ''}}</strong></td>
                            </tr>
                            <tr class="fs-4">
                                <td class="fw-bold">{{'TRANSLATE.MICROSOFT_CUSTOMER_USER_CREDENTIAL_LABEL_PASSWORD' |
                                    translate}}</td>
                                <td>&nbsp;:&nbsp;</td>
                                <td>
                                    <strong>{{Password}}</strong>
                                    <span><i class="far fa-copy text-hover-primary tooltips icon-lg cursor-pointer ms-2"
                                            ngbTooltip="{{'TRANSLATE.BTN_TEXT_COPY_TO_CLIPBOARD' | translate}}" (click)="ConfirmCopy(Password)"></i></span>
                                </td>
                            </tr>
                        </table>
                        <div
                            class="notice bg-light-primary rounded border-primary border border-dashed min-w-lg-450px flex-shrink-0 p-6">
                            <h6>{{'TRANSLATE.CUSTOMER_ONBOARDING_LABEL_TEXT_NOTE' | translate}}</h6>
                            <span class="italic-text"><em>{{'TRANSLATE.MICROSOFT_CUSTOMER_USER_PASSWORD_INFORMATION' |
                                translate}}</em></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="Ok()" translate="TRANSLATE.BUTTON_TEXT_OK"
                tabindex="-1"></button>
        </div>
    </div>
</div>