.strikethrough-red {
    color: red;
    text-decoration: line-through;
}

.card-overflow-y {
    overflow-y: auto; /* Enables vertical scroll when content overflows */
    max-height: 100%; /* Optionally set a maximum height */
}
.card-custom{
    height: 330px;
}
.card-header {     
    border-bottom: none !important;
}
.card-header {     
    border-bottom: none !important;
}