<div class="col card card-custom  d-flex">
    <div class="card-header ">
        <div class="dashboard-filter-wrapper justify-content-between  d-flex w-100">
            <div class="card-title align-items-start flex-column dashboard-tile-title">
                <span class="card-label fw-semibold"><span
                        translate="TRANSLATE.PARTNER_DASHBOARD_PURCHASE_OF_SEATS_TILE_HEADER"></span>
                </span>
            </div>
            @if(!!purchaseOfseatsData)
            {
                <div class="d-flex align-items-center gap-lg-4" >
                    <div class="card-toolbar dashboard-filter">
                        <div ngbDropdown class="d-flex align-items-center" placement="bottom-right">
                            <button class="btn btn-icon btn-light-primary btn-active-primary btn-dropdown btn-sm p-3 w-auto"  id="dropdownBasic1" ngbDropdownToggle>
                             {{'TRANSLATE.'+selectedTimePeriod  | translate}}
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1"
                              class="dorpdown-menu menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-title-gray-700 menu-icon-muted menu-active-bg menu-state-primary fw-semibold py-4 fs-base" >
                              @for(duration of durationUnits; track $index)
                              {
                              <div class='menu-item my-0' ngbDropdownItem (click)="selectedDuration(duration)">
                                  <a class="menu-link px-3 py-2 d-flex align-items-center gap-3">
                                      {{'TRANSLATE.'+duration  | translate}}
                                  </a>
                              </div>
                              }
                            </div>
                          </div>
                    </div>
                    <div ngbDropdown class="d-flex align-items-center" placement="bottom-right">
                        <button class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary remove-caret d-flex flex-column"
                            style="padding: 10px; width: auto;" id="dropdownToggle" ngbDropdownToggle>
                            <app-keenicon name="category" class="fs-2" style="display: contents;"><span
                                    class="fs-2 ki-category ki-duotone"><span class="path1"></span><span
                                        class="path2"></span><span class="path3"></span><span
                                        class="path4"></span><!----></span><!----><!----></app-keenicon> </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownToggle"
                            class="dorpdown-menu menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-title-gray-700 menu-icon-muted menu-active-bg menu-state-primary fw-semibold py-4 fs-base">
                            <div class='menu-item my-0' ngbDropdownItem>
                                <div class="apexcharts-menu-item" (click)="generatePNG()"><span
                                        translate="TRANSLATE.DASHBOARD_CARD_ACTIONS_OPTION_TEXT_DOWNLOAD_PNG"></span></div>
                            </div>
                            <div class='menu-item my-0' ngbDropdownItem>
                                <div class="apexcharts-menu-item" (click)="generateSVG()"><span
                                        translate="TRANSLATE.DASHBOARD_CARD_ACTIONS_OPTION_TEXT_DOWNLOAD_SVG"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
          
            }
        </div>
    </div>

    <div class="card-body pt-2 pb-2 h-auto" >
        @if(!!isLoading){
        <app-loader></app-loader>
        }
        @else if(!!purchaseOfseatsData && purchaseOfseatsData.length>0)
        {
        <div id="site_statistics_Purchase_of_seats_customer" class="chart">
            <apx-chart [series]="chartOptions?.series" [chart]="chartOptions?.chart" [xaxis]="chartOptions?.xaxis"
                [tooltip]="chartOptions?.tooltip" [yaxis]="chartOptions?.yaxis" [stroke]="chartOptions?.stroke"
                [markers]="chartOptions?.markers" [dataLabels]="chartOptions?.dataLabels">
            </apx-chart>
        </div>
        <div>
            <div class="d-flex justify-content-evenly">
                <div class="dashboard-prev-data">
                    <span>{{PreviousMonthSeats}}
                        <span class="badge badge-success " translate="TRANSLATE.DASHBOARD_LBL_TEXT_PREVIOUS_MONTH_SEATS">
                        </span>
                    </span>
                </div>
                <div class="dashboard-prev-data">
                    <span>
                        {{CurrentMonthSeats}} <span class="badge badge-info "
                            translate="TRANSLATE.DASHBOARD_LBL_TEXT_CURRENT_MONTH_SEATS"></span>
                    </span>
                </div>
                <div class="dashboard-prev-data">
                    <span>
                        @if(netPercentage!='0'){
                            {{netPercentage}}% <span style="color: indianred;">
                                <i class="ki-duotone ki-arrow-up text-success fs-2">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </span><span class="badge badge-danger" translate="TRANSLATE.DASHBOARD_LBL_TEXT_NET_SEATS"></span>
                        }
                        
                    </span>
                </div>
            </div>
        </div>
        }
        @else if(purchaseOfseatsData.length<1 && !isLoading){ <div
            class="d-flex align-items-center justify-content-center" style="height: 100%;">
            <div class="row">
                <div class="col-md-12">
                    <app-common-no-record></app-common-no-record>
                </div>
            </div>
    </div>
    }
</div>
</div>