<div class="container-fluid customer-container margin-top-80">
    <div class="row">
        <div class="col col-12">
            <div class="card product-description-card m-auto ">
                <div class="card jumbotron">
                    <div class="card-body h-lg-600px d-flex justify-content-center align-items-center">
                        <div class="card  p-5 w-lg-750px h-lg-500px">
                            <div class="card-body">
                                <h1 class="fw-bold fs-2hx text-dark mb-4 text-center">
                                    <span>{{ 'TRANSLATE.QUOTE_STATUS_OOPS_ERROR' |translate }}</span>
                                </h1>
                                <div class="fw-semibold fs-6 text-gray-500 mb-7 text-center">
                                    <span>{{ 'TRANSLATE.PUBLIC_SIGNUP_EZIDEBIT_PAYMENT_GATEWAY_NOT_CONFIGURED'
                                        |translate }}</span>
                                </div>
                                <div class="mb-3 text-center">
                                    <img src="../../../assets/media/png/404-error.png" class="theme-light-show"
                                        style="max-width: 500px; max-height: 333px;" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>