@if(!cc?.IsTenantConfiguration && data.IsShowOnScreen){
    <div class="form-group mb-1 row mt-6" [formGroup]="form">
        <label class="col-4 col-form-label" [ngClass]="{'': data.IsRequired}">
            <span>{{'TRANSLATE.'+ data.DisplayName |translate}}</span>
            <span class="text-danger" *ngIf="data.IsRequired">*</span>
            <i class="ki-duotone ki-information-2 fs-8 ms-1 bottom-10" ngbTooltip="{{'TRANSLATE.'+data.Description | translate }}">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
            </i>
        </label>
        @if (data.IsShowOnScreen && data.IsRequired) {
            <div class="col-6">
                <input type="email" #text (input)="onChange(text.value)" (blur)="onTouched()" [value]="data.Value"  [disabled]="!data.IsManagedByPartner" class="form-control form-control-sm" [formControlName]="frmControlName" [disabled]="!data.IsManagedByPartner">
                <!-- <div *ngIf="isInvalid" class="text-danger">This field is required</div> -->
                @if(form.get(data.Name)?.touched && form.get(data.Name)?.errors?.required){
                <span class="text-danger d-block" translate="TRANSLATE.VALIDATION_MESSAGE_REQUIRED"></span>
                }
                @if(form.get(data.Name)?.touched && form.get(data.Name)?.errors?.email){
                <span class="text-danger d-block" translate="TRANSLATE.VALIDATION_MESSAGE_PLEASE_ENTER_A_VALID_EMAIL"></span>
                }
            </div>
        }
        @else {
            <div class="col-md-6">
                <input type="email" #text (input)="onChange(text.value)" (blur)="onTouched()" [value]="data.Value"  [disabled]="!data.IsManagedByPartner" class="form-control form-control-sm"  [formControlName]="frmControlName" [disabled]="!data.IsManagedByPartner">
                @if(form.get(data.Name)?.touched && form.get(data.Name)?.errors?.email){
                <span class="text-danger d-block" translate="TRANSLATE.VALIDATION_MESSAGE_PLEASE_ENTER_A_VALID_EMAIL"></span>
                }
                @if(form.get(data.Name)?.touched && form.get(data.Name)?.errors?.['maxlength']){
                    <span class="text-danger d-block" translate="TRANSLATE.EMAIL_VALIDATION_LENGTH_DEFAULT_QUOTE_SENDER"></span>
                  }
            </div>
        }
    </div>
}