<ng-template #actionHeader>
    <div class="header-actions d-flex align-items-center gap-2 gap-lg-3">
        <button type="button" class="btn btn-sm fw-bold btn-light-primary" [appPermission]="'BTN_PLAN_OFFERS_GRID_DOWNLOADABLE_REPORTS'"
            ngbTooltip="{{'TRANSLATE.BUTTON_TEXT_DOWNLOAD_PLAN_OFFER' | translate}}" (click)="downloadGridReport()">
            <i class="ki-outline ki-exit-down fs-2 p-0"></i>
        </button>
        <button type="button" class="btn btn-sm fw-bold btn-light-primary" (click)="BackToPlans()">
            <i class="ki-outline ki-to-left fs-2"></i> <span
                translate="TRANSLATE.PLAN_MANAGE_ADD_BUTTON_TEXT_BACK_TO_PLAN"></span>
        </button>
        <button type="button" class="btn btn-sm fw-bold btn-light-primary" [routerLink]="['/partner/plans/addProduct']" [appPermission]="'SAVE_PLAN'">
            <span translate="TRANSLATE.PARTNER_ADD_PLAN_BUTTON_TEXT_ADD_MORE_PRODUCTS"></span>
        </button>
        <a class="btn btn-sm fw-bold btn-primary" (click)="savePlan()" [appPermission]="'SAVE_PLAN'">
            <span translate="TRANSLATE.PARTNER_ADD_PLAN_BUTTON_TEXT_SAVE_PLAN"></span>
        </a>
    </div>
</ng-template>

<div class="tab-content">
    <div class="tab-pane fade show active">
        <div>
            <div class="form-group row">
                <div class="col-md-8">
                    <div class="d-flex align-items-center position-relative my-1">
                        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5"><span
                                class="custom-path1"></span><span class="custom-path2"></span></i>
                        <input type="text" class="form-control form-control-solid h-36px w-500px ps-12"
                            placeholder="{{'TRANSLATE.PLACEHOLDER_TEXT_FOR_INPUT_FIELD_TO_SEARCH_A_PRODUCT_OR_PRODUCT_ID' | translate}}"
                            [(ngModel)]="searchSelectedProductsKeyword" ng-model-options="{debounce: 1000}"
                            (ngModelChange)="catchSelectedProductsSearchKeywordChange();" [disabled]="false">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex justify-content-end">
                        <div class="mt-5">
                            @if (ispromotionsInOffers) {
                            <label class="form-check form-check-inline me-5" [appPermission]="'SAVE_PLAN'">
                                <input type="checkbox" class="form-check-input"
                                    (click)="enableOrDisableNcePromotionsForProducts()"
                                    [checked]="promotionAvailabeToAll" [disabled]="false">

                                <span class="ms-2">{{'TRANSLATE.CHECKBOX_TEXT_ENABLE_ALL_PROMOTIONS' | translate}}
                                    &nbsp;
                                    &nbsp;</span>
                            </label>
                            }
                            <!--{{'LABEL_TEXT_ENABLE_ALL_PROMOTIONS' | translate}}-->
                            <label class="checkbox" style="display: none"></label>
                        </div>
                        <div ngbDropdown placement="bottom-right" [autoClose]="false || 'outside'"
                            #dropdown="ngbDropdown">
                            <a class="btn btn-sm btn-lg btn-md btn-xs text-nowrap fw-bold btn-secondary mt-2"
                                ngbTooltip="{{'TRANSLATE.BTN_TEXT_SHOW_FILTERS' | translate}}" type="button"
                                id="dropDownMenuButton" ngbDropdownToggle>
                                <i class="ki-outline ki-filter fs-2">
                                </i>&nbsp;<span translate="TRANSLATE.BTN_TEXT_FILTER"></span>
                            </a>

                            <div class="dropdown-menu w-auto" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <div class="dropdown-header fs-5 text-gray-900 fw-bold">
                                    {{ 'TRANSLATE.CUSTOMER_PRODUCTS_STATUS_FILTER_OPTIONS' | translate }}
                                </div>
                                <div class="filter-dropdown" infiniteScroll [infiniteScrollDistance]="0.3"
                                    [infiniteScrollThrottle]="50" [scrollWindow]="false">
                                    <div class="separator border-gray-200"></div>
                                    
                                    
                                    @for(option of filteredProducts; track $index) {
                                        @if(option.Value!=='offerWithPromotion'){
                                            <li ngbDropdownItem>
                                                <div class="form-check form-check-solid">
                                                    <input type="radio" class="form-check-input" name="filter"
                                                        [value]="option.Value" [(ngModel)]="filterValue">
                                                    <label class="form-check-label">
                                                        <span class="ps-2 fs-6 text-gray-800">{{option.Name}}</span>
                                                    </label>
                                                </div>
                                            </li>
                                        }
                                        @if(option.Value==='offerWithPromotion' && Permissions.HasFilterShowPromotionOffer === 'Allowed' && Permissions.AreNcePromotionsEnabled==='Allowed'){
                                            <li ngbDropdownItem>
                                                <div class="form-check form-check-solid">
                                                    <input type="radio" class="form-check-input" name="filter"
                                                        [value]="option.Value" [(ngModel)]="filterValue">
                                                    <label class="form-check-label">
                                                        <span class="ps-2 fs-6 text-gray-800">{{option.Name}}</span>
                                                    </label>
                                                </div>
                                            </li>
                                        }
                                    }
                                </div>
                                <div class="dropdown-item  d-flex justify-content-end py-1">
                                    <button class="btn btn-primary btn-sm me-3" (click)="applyFilter();dropdown.close()">
                                        {{ 'TRANSLATE.CUSTOMER_PRODUCTS_SET_OPERATING_ENTITIES_FILTER_BUTTON_TEXT_APPLY' | translate }}
                                    </button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <!-- todo: *ngIf="Permissions.HasSavePlan=='Allowed'" -->
                <div class="col-md-12 d-flex justify-content-between py-6">
                    <!-- todo: *ngIf="Permissions.HasSavePlan=='Allowed' && IspromotionsInOffers"-->
                    <div>
                        <span class=" label label-success font-weight-bold label-inline text-white badge bg-success ms-md-2">
                            <strong> {{('TRANSLATE.MANAGE_PLAN_MACRO_APPLIED' | translate)}} : </strong>
                            {{selectedMacro!=null ? ('TRANSLATE.'+selectedMacro.Name | translate) : ('TRANSLATE.MANAGE_PLAN_NO_MACRO_APPLIED' |
                            translate)}}
                            <span *ngIf="selectedMacro?.NeedsPercent">({{planInfo.MacroValue}})</span>
                            &nbsp;
                        </span> 
                        <i role="button" class="ki-outline ki-pencil fs-4 text-primary" ngbTooltip="{{'TRANSLATE.MANAGE_PLAN_EDIT_MACRO_TOOLTIP' | translate}}" (click)="macroChange()" [appPermission]="'SAVE_PLAN'">
                        </i>
                    </div>
                </div>
            </div>
            <!-- todo: [Permissions]="''" -->
            <div class="row">
                <div class="col-md-12">
                    <!-- todo: perfect scrollbar -->
                    <div>
                        <!-- todo: no data available -->
                        <div></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="licenseProductList" ng-repeat="product in SelectedProducts"
                            style="margin-bottom:5px;">
                            @if(selectedProducts.length < 1 && !stopSkelton){ 
                                @for (item of [1,2,3]; track $index) {
                                    <div class="card p-2 mb-3" aria-hidden="true">
                                        <div class="card-body">
                                            <p class="card-text placeholder-glow">
                                                <span class="placeholder col-md-8"></span>
                                                <span class="placeholder col-md-4"></span>
                                                <span class="placeholder col-md-2"></span>
                                                <span class="placeholder col-md-2"></span>
                                                <span class="placeholder col-md-2"></span>
                                                <span class="placeholder col-md-2"></span>
                                            </p>
                                        </div>
                                    </div>
                                }
                            }

                        <div  class="manage-screen-cards" (scrolled)="onScroll()" infiniteScroll [infiniteScrollDistance]="0.3"
                        [infiniteScrollThrottle]="50" [scrollWindow]="false">
                            @if(selectedProducts.length==0 && stopSkelton){
                            <div class="col-md-12">
                                <app-common-no-record></app-common-no-record>
                            </div>
                            }
                            @for (item of selectedProducts; track $index) {
                            <div class="p-2" appLazyLoad (lazyLoad)="onLazyLoad(item)">
                                <app-product-item *ngIf="item.IsPrimaryInLinkedProduct !== false"
                                    [productItemDetails]="productItemDetails" [productItem]="item"
                                    (onActionData)="onManagePlanAction($event)"></app-product-item>
                            </div>
                            }
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>