.symbol.symbol-light-info .symbol-label {
    background-color: #EEE5FF;
    color: #8950FC;
}



.symbol.symbol-light-primary .symbol-label {
    background-color: #E1F0FF;
    color: #3699FF;
}

.symbol.symbol-light-success .symbol-label {
    background-color: #C9F7F5;
    color: #1BC5BD;
}

.symbol.symbol-50 .symbol-label {
    width: 50px;
    height: 50px;
}