<div id="splash-screen" class="splash-screen">
    @if (!!loggedInLogo){
        <img id="logo"  class="object-fit app-sidebar-logo-default" [src]="loggedInLogo" />
    }
    <div>
      <span class="spinner-border text-primary" role="status"></span>
    </div>
    <div  class=" d-flex align-items-center mt-5">
        <span class="text-muted fs-6 fw-semibold ms-5">{{'TRANSLATE.LOGGED_IN_GETTING_DETAILS_GREETINGS' | translate}}</span>
        @if(!!userName){
          <span class="text-muted fs-6 fw-semibold">{{userName}}</span>
        }
    </div>
    <div  class=" d-flex align-items-center mt-5">
      <span class="text-muted fs-6 fw-semibold ms-5">{{'TRANSLATE.LOGGED_IN_GETTING_DETAILS_PLEASE_WAIT' | translate}}</span>
  </div>
</div>
