.Schedulelabelbackgroundcolor {
    background-color: #AC3934 !important;
    
}

.ribbon.ribbon-top .ribbon-label {
    transform: translateX(-1px) translateY(-1px) !important;
}

.card-custom {
    padding: 0;
}