
<div class="row mb-3"
     *ngIf="entityName === 'Customer' &&
        (
          (ProviderCustomersWhoNotProvidedCustomerConsent?.length > 0) ||
          (ProviderTenantsCount === 0)
        )">
  <div class="col-12">
    <div class="alert alert-warning mb-0" role="alert" *ngIf="showAlert">
      <div class="alert-text d-flex align-items-center">
        <i class="ki-outline ki-information-5 fs-1 me-1 text-warning"></i>
        <span
          [ngbPopover]="purchasefailed"
          placement="bottom"
          (click)="setTranslateText()">
          {{ 'TRANSLATE.ERROR_MESSAGE_PURCHASES_MAY_FAIL' | translate }}
        </span>
        <i class="ki-outline ki-cross fs-1 ms-auto text-danger cursor-pointer"
           (click)="showAlert = false"></i>
      </div>
    </div>
  </div>
</div>

<!-- <ng-template #purchasefailed>
    {{ purchaseFailedMessage }}
</ng-template> -->



<ng-template #purchasefailed>
    <ul class="purchase-error-popup-font"
        *ngIf="ProviderCustomersWhoNotProvidedCustomerConsent != null && ProviderCustomersWhoNotProvidedCustomerConsent.length > 0 || (ProviderTenantsCount == 0 && ProviderTenantsCount != null)">
        <li class="provider_custom_consent_not_provided" *ngIf="ProviderCustomersWhoNotProvidedCustomerConsent != null && ProviderCustomersWhoNotProvidedCustomerConsent.length > 0"
            [innerHTML]="provider_custom_consent_not_provided"></li>
        <li *ngIf="ProviderTenantsCount == 0 && ProviderTenantsCount != null"
            translate="TRANSLATE.CUSTOMER_NOT_LINKED_TO_ANY_PROVIDER_TENANTS_ERROR_MESSAGE"></li>
    </ul>
    <ul class="purchase-error-popup-font" *ngIf="!CanPaurchase">
        <li translate="TRANSLATE.CUSTOMER_CANNOT_PERFORM_SHOP_DUE_TO_CUSTOMER_ADMIN_LITE_ROLE_MESSAGE"></li>
    </ul>
</ng-template>


@if (!isMandateProfile){
<div class="dashboard-container">
    @for(section of dashboardCards?.Sections; track $index)
    {
    <div class="row" id="{{'section_' + section.ID}}">
        @for(column of section.PortletColumns | orderBy : 'DisplayOrder'; track $index){ 
        @if(column.Show){
           
        <div class="{{column.ColumnSizeClass}} mt-4">
            @for (portlet of getPortletsBySectionAndColumn(section, column) | orderBy : 'RowPosition'; track $index) {
                @defer (on viewport) {
                    <div [appWidgetLoader]="portlet.TargetAction"></div>
                } @placeholder {
                    <app-loader></app-loader>
                }
               }
            </div>
            }
        }

    </div>
    }
</div>
}

