<div class="modal-dialog m-0 modal-dialog m-0-centered w-100">
    <div class="modal-content">
        <div class="modal-body" id="modal-body">
            <div class="d-flex justify-content-center flex-column align-items-center">
                <div class="fw-semibold text-gray-800 fs-6 text-center">
                    <span [translate]="'TRANSLATE.NCE_BASE_OFFER_PC_CALL_PROGRESS_POPUP'"></span>
                </div>
                <div class="loader mt-5" role="status"></div>
                <div class="fw-semibold text-gray-800 fs-6 mt-5 text-center text-muted" [translate]="'TRANSLATE.VERIFYING_MESSAGE'"></div>
            </div>
        </div>
    </div>
</div>