<!-- <h1 class="text-center">Page under construction</h1>  


<div class="modal-header">
    <h5 class="modal-title text-primary">{{'NCE_PROMOTIONS_POPUP_PROMOTION_DETAILS' | translate}}</h5>
  </div>
  <div class="modal-body">
      <div class="container-fluid">
          
          <div class="row">
              <div class="col-12">
                  <h4 class="font-weight-bold">
                      <p>{{'NCE_PROMOTIONS_POPUP_PROVIDER_REF_Name' | translate}}{{cc.data.PromotionName}}</p>
                  </h4>
                  <p><b>{{'NCE_PROMOTIONS_POPUP_PROVIDER_REF_ID' | translate}}</b>{{cc.data.ProviderReferenceId}}</p>

                  <table class="table table-borderless table-responsive-md table-responsive-lg table-responsive-sm table-responsive-xl table-responsive-xxl">
                      <thead>
                          <tr>
                              <td>
                                  <span translate="NCE_PROMOTIONS_POPUP_TERM"></span>
                              </td>
                              <td>
                                  <span translate="NCE_PROMOTIONS_POPUP_BILLING_FREQUENCY"></span>
                              </td>
                              <td>
                                  <span translate="NCE_PROMOTIONS_POPUP_DISCOUNT"></span>
                              </td>
                              <td>
                                  <span translate="NCE_PROMOTIONS_POPUP_END_DATE"></span>
                              </td>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>
                                  {{cc.data.BillingCycleName}}
                              </td>
                              <td>
                                  {{cc.data.BillingCycleName}}
                              </td>
                              <td>
                                  {{cc.data.PromotionDiscount}}{{cc.data.PromotionDiscountType.toLowerCase() =='percentdiscount'?'%':''}}
                              </td>
                              <td>
                                  {{cc.data.NCEPromotionEndDate | dateTimeFilter }}
                              </td>
                          </tr>
                      </tbody>
                      <tbody>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" ng-click="cc.cancel()" translate="NCE_PROMOTIONS_POPUP_CLOSE"></button>
  </div> -->
