input.custPlacehoder::placeholder {
    color: black; /* Change this to your desired color */
    opacity: 1; /* This ensures the color is fully applied */
  }


  .svg-icon.svg-icon-secondary svg g path{
    fill : #F9F9F9 !important;
  }

  .svg-icon.svg-icon-secondary svg g rect{
    fill : #F9F9F9 !important;
  }
  ::ng-deep {
    app-setting-manage-currencyconversion {
        .dropdown-toggle::after {
            display: none !important;
        }
    }
  }