.symbol>img {
    width: 100px;
    height: 100px;
}

.description-color {
    color: #78829D;
}

.notice-border {
    border-left: 5px solid #eee;
    border-color: #d0e3f0;
}

.table td {
    color: #252f4a;
}
::ng-deep{
    app-online-service-basic-details{
        .p-no-margin p{
            margin-bottom: 0px !important;
            }
    }  
}
