::ng-deep {  
    app-business-payments {
      .dt-scroll-body{
        overflow:hidden !important;
        max-height:100% !important;
      }
      .word-wrap-custom{
        max-width: 170px;
        display: block;
        word-wrap: break-word;
      }
      .dt-icon-control{
        width: 2% !important;
      }
      table.dataTable td.dt-control:before {
        content: "\2b" !important;
        border: 0 !important;
      }
  
      .clicked-icon {
        color: #3699ff;
        cursor: pointer;
      }
    }
  
    .lh-5 {
      line-height: 5;
    }
}