::ng-deep{
    app-revenue-vs-cost{
        .opacity-8{
            opacity: 0.8;
        }
        .loader-indicater{
            position: absolute;
            margin: auto;
            top: 50%;
            left: 41%;
            // z-index: 999999;
        }
        .card-title{
            flex:20% !important
        }
    }
}