.card-custom{
    height: 330px;
}
.card-header {     
    border-bottom: none !important;
}

.shop-item-message {
    position: absolute;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 16px;
    bottom: 6px;
    right: 0;
  }