.TermLabelColor {
    background-color: #3D9C49 !important;  
}

.labelcolor {
    background-color: #DF2B03 !important;
}

.label-success {
    color: #ffffff;
    background-color: #1BC5BD;
}

.custom {
    color: var(--bs-gray-800);
}