<ng-template #actionHeader>
    <div class="header-actions d-flex align-items-center gap-2 gap-lg-3">
        <button type="button" class="btn btn-sm fw-bold btn-primary" (click)="backToList()">
            <i class="ki-outline ki-to-left fs-2" ></i> <span translate="TRANSLATE.PARTNER_ACCOUNT_MANAGER_CUSTOMERS_BTN_TEXT_BACK_TO_ACCOUNT_MANAGERS"></span>
        </button>
    </div>
</ng-template>
<div class="card">
    <div class="card-body pt-0 overflow-auto">
        <ng-template #actions let-data="adtData" let-emitter="captureEvents">
        <div class="d-flex">
         <div class="d-flex align-items-center">
            @if(data.IsAssignedToManager === false){
            <a class="btn btn-light-success btn-sm "
                (click)="assign(data)">
               <span translate="TRANSLATE.PARTNER_ACCOUNT_MANAGER_CUSTOMER_BUTTON_TEXT_ASSIGN"></span>
            </a>
            }
            @if(data.IsAssignedToManager === true){
                <a class="btn btn-light-warning btn-sm"
                    (click)="unAssign(data)">
                   <span translate="TRANSLATE.PARTNER_ACCOUNT_MANAGER_CUSTOMER_BUTTON_TEXT_UNASSIGN"></span>
                </a>
            }
            
        </div>
      </div>
      </ng-template>
      <ng-template #nameTemplate let-data="adtData" let-row="userData">
        <app-edit-column [data]="data" [field]="row?.field" (enableEdit)="enableEditField($event)"></app-edit-column>
      </ng-template>
        @if (!!datatableConfig) {
            <app-c3-table [reload]="reloadEvent" [datatableConfig]="datatableConfig">
            </app-c3-table>
            }
    </div>
</div>
