.symbol-label {
    width: 75px;
    height: 75px;
    background-color: #ffffff;
}
.site-label{
    width:43px;
    height:47px;
    position:absolute;
    top:0px;
    left:75%;
    padding-top: 15px; 
    padding-left: 8px;
}
