<ng-container [formGroup]="adressRowForm">
        <td>
            <select class="form-select form-select-sm" formControlName="addressType">
               <option value="">{{'TRANSLATE.selectAddressType' | translate}}</option>
                @for(type of addressTypes; track $index){
                <option [value]="type?.ID">
                    {{'TRANSLATE.'+type?.Description | translate}}</option>
                }
            </select>
            @if(adressRowForm.get('addressType')?.errors?.required &&
            adressRowForm.get('addressType').touched){
            <span class="text-danger"><span translate="TRANSLATE.VALIDATION_MESSAGE_REQUIRED"></span></span>
            }
        </td>
        <td>
            <input type="text" class="form-control form-control-sm" formControlName="addressLine1"
                placeholder="{{'TRANSLATE.enterAddress1' | translate}}">
            @if(adressRowForm.get('addressLine1')?.errors?.required &&
            adressRowForm.get('addressLine1').touched){
            <span class="text-danger"><span translate="TRANSLATE.VALIDATION_MESSAGE_REQUIRED"></span></span>
            }
            @if(adressRowForm.get('addressLine1')?.errors?.maxlength && adressRowForm.get('addressLine1')?.touched){
                <span class="text-danger" translate="TRANSLATE.VALIDATION_MESSAGE_CUSTOMER_ADDRESS_1_MAX_LENGTH_256"></span> 
            }
        </td>
        <td>
            <input type="text" class="form-control form-control-sm" formControlName="addressLine2"
                placeholder="{{'TRANSLATE.enterAddress2' | translate}}">
            @if(adressRowForm.get('addressLine2')?.errors?.required &&
            adressRowForm.get('addressLine2').touched){
            <span class="text-danger"><span translate="TRANSLATE.VALIDATION_MESSAGE_REQUIRED"></span></span>
            }
            @if(adressRowForm.get('addressLine2')?.errors?.maxlength && adressRowForm.get('addressLine2')?.touched){
                <span class="text-danger" translate="TRANSLATE.VALIDATION_MESSAGE_CUSTOMER_ADDRESS_2_MAX_LENGTH_256"></span> 
            }
        </td>
        <td>
            <input type="text" class="form-control form-control-sm" formControlName="city" placeholder="{{'TRANSLATE.enterCity' | translate}}">
            @if(adressRowForm.get('city')?.errors?.required &&
            adressRowForm.get('city').touched){
            <span class="text-danger"><span translate="TRANSLATE.VALIDATION_MESSAGE_REQUIRED"></span></span>
            }
        </td>
        <td>
            <!-- <ng-select formControlName="country" class="col-4"
                (change)="onCountrySelected($event)">
                <ng-option [value]="">{{'TRANSLATE.selectCountry' | translate}}</ng-option>
                @for(country of countries; track $index){
                <ng-option [value]="country?.Code">
                    {{country.Name}}</ng-option>
                }
            </ng-select> -->
            <select class="form-select form-select-sm" formControlName="country"  (change)="onCountrySelected($event)">
                <!-- <ng-option [value]="">{{'TRANSLATE.selectAddressType' | translate}}</ng-option> -->
              <option value="">{{'TRANSLATE.selectCountry' | translate}}</option>
                @for(country of countries; track $index){
                <option [value]="country?.Code">
                    {{country.Name}}</option>
                }
            </select>
            @if(adressRowForm.get('country')?.errors?.required &&
            adressRowForm.get('country').touched){
            <span class="text-danger"><span translate="TRANSLATE.VALIDATION_MESSAGE_REQUIRED"></span></span>
            }
        </td>
        <td>
            @if(states?.length > 0){
            <select class="form-select form-select-sm w-135px" formControlName="state">
                @for(state of states; track $index){
                <option  [value]="state?.StateCode">
                    {{state?.Name}}</option>
                }
            </select>
            }
            @else {
            <input type="text" class="form-control form-control-sm w-135px" formControlName="state"
                placeholder="{{'TRANSLATE.enterState' | translate}}">
            }
            @if(adressRowForm.get('state')?.errors?.required &&
            adressRowForm.get('state').touched && states?.[0]?.IsStateProvinceMandatory){
            <span class="text-danger"><span translate="TRANSLATE.VALIDATION_MESSAGE_REQUIRED"></span></span>
            }
        </td>
        <td>   
            <input type="text" class="form-control form-control-sm w-50px" formControlName="zip" placeholder="{{'TRANSLATE.enterZip' | translate}}">
            @if(adressRowForm.get('zip')?.errors?.required &&
            adressRowForm.get('zip').touched){
            <span class="text-danger"><span translate="TRANSLATE.VALIDATION_MESSAGE_REQUIRED"></span></span>
            }
        </td>
        <td>
            <div class="d-flex justify-content-end">
                <button ngbTooltip="{{'TRANSLATE.PROFILE_USER_BUTTON_TOOLTIP_TEXT_SAVE_2' | translate}}" class="btn btn-icon btn-active-light-primary btn-sm me-1 w-auto d-flex align-items-center"
                    (click)="saveRowAddress()" [ngClass]="toolbarButtonHeightClass" [disabled]="isSaveButtonDisabled()">
                    <span class="svg-icon svg-icon-primary svg-icon-xl svg-icon-sm svg-icon-lg h-20px w-20px">
                        <i class="ki-outline ki-file-added text-primary"></i>        
                    </span>
                </button>
                <button ngbTooltip="{{'TRANSLATE.PROFILE_USER_BUTTON_TOOLTIP_TEXT_CANCEL' | translate}}" class="btn btn-icon btn-active-light-primary btn-sm me-1 w-auto d-flex align-items-center"
                    [ngClass]="toolbarButtonHeightClass" (click)="onCancel()">
                    <span class="svg-icon svg-icon-primary svg-icon-xl svg-icon-sm svg-icon-lg h-20px w-20px">
                        <i class="ki-outline ki-cross text-primary"></i>
                    </span>
                </button>
            </div>
        </td>
</ng-container>