<div class="card">
    @if (permissions.HasGetInvoiceLineItemsForBusinessCentral === 'Allowed') {
       <div class="ps-5 pe-5">
            <div class="card-body m-4 notice bg-light-primary rounded border-primary border border-dashed min-w-lg-600px flex-shrink-0 p-6 mt-5">
                <div class="ps-4">
            <h6 class="fw-bold mb-3" >
                <span translate="TRANSLATE.NOTES_HEADER_EXTENDED"></span>
            </h6>
            
            <ul class="ps-5 mb-0S" >
                <li >
                    <span class="ng-scope" translate="TRANSLATE.INSTRUCTION_BUSINESS_CENTRAL_INVOICE_POINT1"></span>
                </li>
                <li >
                    <span class="ng-scope" translate="TRANSLATE.INSTRUCTION_BUSINESS_CENTRAL_INVOICE_POINT2"></span>
                </li>
                <li >
                    <span class="ng-scope" translate="TRANSLATE.INSTRUCTION_BUSINESS_CENTRAL_INVOICE_POINT3"></span>
                </li>
                <li>
                    <span class="ng-scope" translate="TRANSLATE.INSTRUCTION_BUSINESS_CENTRAL_INVOICE_POINT4"></span>
                </li>
                <li>
                    <span class="ng-scope" translate="TRANSLATE.INSTRUCTION_BUSINESS_CENTRAL_INVOICE_POINT5"></span>
                </li>
            </ul>
        </div>
            </div>
        </div>
        <div class="m-10 d-flex align-items-center justify-content-between">
            <div></div>
            <div class="col-md-3">
                <ng-select [(ngModel)]="billingPeriodId" name="selectedBillingPeriods" (change)="reloadTableData()">
                    <ng-option *ngFor="let option of BillingPeriods; let i = index" [value]="option.BillingPeriodId">
                        {{ option.BillingStartDate | c3Date }} - {{ option.BillingEndDate | c3Date }} ({{ option.BillingId }})
                    </ng-option>
                </ng-select>
            </div>
        </div>
        <div class="ms-12 mt-3">
            <h4 translate="TRANSLATE.INTEGRATION_CENTER_CUSTOMER_INVOICES"></h4>
        </div>
        <div class="card-body m-4">
            <ng-template #preTaxAmount let-data="adtData" let-emitter="captureEvents">
                {{ data.PreTaxAmount | CurrencyFilter : data.CurrencySymbol : data.CurrencyDecimalPlaces :
                data.CurrencyThousandSeperator : data.CurrencyDecimalSeperator }}
            </ng-template>
            
            <ng-container *ngIf="datatableConfig">
                <app-c3-table [reload]="reloadEvent" [datatableConfig]="datatableConfig" [selection]="true"
                    (onSelection)="handleSelection($event)" (selectAllchecked)="getAllCustomers($event)">
                </app-c3-table>
            </ng-container>

            <div>
                <div class="card-body">
                    <div class="d-flex justify-content-end">
                        <div class="d-flex justify-content-end">
                            
                            @if ( IsPageViewInvoiceLineItem && customerDetails.length > 0) {
                                <a class="ms-2 btn btn-sm fw-bold btn-primary text-end" (click)="uploadInvoicesToBusinessCentral()" [appPermission]="'UPLOAD_INVOICES_TO_BUSINESS_CENTRAL'">
                                    <span class="ps-2">{{'TRANSLATE.BUTTON_TEXT_UPLOAD_TO_BUISENESS_CENTERAL' | translate}}</span>
                                </a>
                            }

                            @if (customerDetails.length > 0) {
                                <a class="ms-2 btn btn-sm fw-bold btn-primary text-end" (click)="goToExternalServicePostLogs()" [appPermission]="'GET_BUSINESS_CENTRAL_POST_LOGS'">
                                    <span class="ps-2">{{'TRANSLATE.BUTTON_TEXT_VIEW_EXTERNAL_SERVICE_POST_LOGS' | translate}}</span>
                                </a>
                            }

                            @if (customerDetails.length > 0) {
                                <a class="ms-2 btn btn-sm fw-bold btn-primary text-end" (click)="DownloadInvoices()" [appPermission]="'GET_INVOICE_LINE_ITEMS_FOR_BUSINESS_CENTRAL'">
                                    <span class="ps-2">{{'TRANSLATE.DOWNLOAD_INVOICES_AND_PAYMENTS_BUTTON_TEXT_DOWNLOAD_CSV' | translate}}</span>
                                </a>
                            }

                        </div>
                    </div>
                </div>
            </div>
            </div>

    } @else {

        <div class="card-body">
            <div class="p-10 text-center">
                <p class="text-danger fw-bold fs-5" translate="TRANSLATE.BUSINESS_CENTRAL_GENERAL_NO_PERMISSION"></p>
            </div>
        </div>

    }
</div>