.toolbar-custom-position .apexcharts-toolbar{
 
    top:-20% !important;
    position:absolute !important;
}

.apexcharts-toolbar{
 
    top:-20% !important;
    position:absolute !important;
}

.azure-advisor-legend .apexcharts-legend-marker{
    opacity:0.7 !important
}