<div class="card card-border">
    <div class="card-body pt-4">
        <div class="d-flex justify-content-end">
            <app-order-status-indicators [product]="product"></app-order-status-indicators>
        </div>
        <div class="d-flex align-items-center mb-7">
            <div class="flex-shrink-0 me-4">
                @if(product.ImageUrl){
                <div class="symbol mr-3">
                    <img class="symbol-label" [src]="product.ImageUrl">
                </div>
                }
                @else{
                <div class="symbol symbol symbol-65 symbol-dark">
                    <span class="symbol-label fs-3 bg-dark text-white">
                        {{product.Name | formatforinitials}}
                    </span>
                </div>
                }
            </div>
            <div class="d-flex flex-column col-9">
                <a href="javascript:void(0)" class="text-gray-800 text-hover-primary h4 mb-0 ml-3">{{product.Name}}
                    <sup [hidden]="product.ProductForTrial == null && product.ProductForTrial == undefined" class="text-warning fw-bold"><span translate="TRANSLATE.PLAN_MANAGE_TRAIL_OFFER_SYMBOL_TRAIL_OFFER"></span></sup>
                </a>
            </div>
        </div>
        @if(product.ProviderError && product.ProviderError.length > 0){
        <p class="mb-0 text-danger">
            {{product.ProviderError | innerTranslate}}
        </p>
        }
        @if((!product.ProviderError || product.ProviderError.length == 0) && product.ApproveOrRejectRemark){
        <p class="mb-0 text-danger">
            {{product.ApproveOrRejectRemark | innerTranslate}}
        </p>
        }
            <div  class="h-200px">
            <div class="d-flex align-items-center" [appPermission]="'GET_SUBCATEGORIES_PILLS'">
                <span class="ms-0 badge badge-danger label-pill label-lg label-inline badge mr-2" ngbTooltip="{{'TRANSLATE.CUSTOM_OFFER_TOOLTIP_TEXT_SUBCATEGORY' | translate}}"></span>
                @if(product.SubCategoryName !== null){
                <span class="badge badge-danger ml-1" ngbTooltip="{{'TRANSLATE.CUSTOM_OFFER_TOOLTIP_TEXT_SUBCATEGORY' | translate}}">{{product.SubCategoryName}}</span>
                }
            </div>
        <div class="min-h-200px">
            @if(product.Validity !== null && product.Validity !== '' && product.ValidityType!=null && product.ValidityType !== '' && product.ProductForTrial == null){
            <div class="d-flex justify-content-between align-items-center mt-1">
                <span class="text-dark-75 fw-bold mr-2">{{'TRANSLATE.TERM_DURATION_ORDER'| translate }}</span>
                <a href="javascript:void(0)" class="text-muted text-hover-primary" aria-hidden="true">{{product.Validity}}
           {{(product.Validity == 1 ? (product.ValidityType === 'Month(s)'? 'TRANSLATE.TERM_DURATION_DESC_MONTH' : 'TRANSLATE.TERM_DURATION_DESC_YEAR') : (product.ValidityType === 'Month(s)'
            ? 'TRANSLATE.TERM_DURATION_DESC_MONTHS'
            : 'TRANSLATE.TERM_DURATION_DESC_YEARS')) | translate}}</a>
            </div>
            }
            @if(product.Validity !== null && product.Validity !== '' && product.ValidityType !== null && product.ValidityType !== '' && product.ProductForTrial != null){
            <div class="d-flex justify-content-between align-items-center mt-1">
                <span class="text-dark-75 fw-bold mr-2">{{'TRANSLATE.TERM_DURATION_ORDER'| translate }}:</span>
                <a href="javascript:void(0)" class="text-muted text-hover-primary" aria-hidden="true">{{product.Validity}}
           {{'TRANSLATE.'+product.ValidityType | translate }}</a>
            </div>
            }
            @if(product.BillingCycleName && product.ProductForTrial == null){
            <div class="d-flex justify-content-between align-items-center">
                <span class="text-dark-75 fw-bold mr-2">{{'TRANSLATE.PARTNER_MANAGED_CART_LIST_TEMPLATE_USAGE_LABEL_TEXT_BILLING_CYCLE' | translate}}</span>
                <a href="javascript:void(0)" class="text-muted text-hover-primary">{{'TRANSLATE.'+product.BillingCycleDescription | translate}}</a>
            </div>
            }
            @if(product?.CategoryName){
            <div class="d-flex justify-content-between align-items-center my-1">
                <span class="text-dark-75 fw-bold mr-2">{{'TRANSLATE.DISTRIBUTOR_OFFERS_CAPTION_TEXT_CUSTOM_OFFERS_CATEGORY_TEXT' | translate}}</span>
                <a href="javascript:void(0)" class="text-muted text-hover-primary">{{'TRANSLATE.DISTRIBUTOR_OFFERS_CAPTION_TEXT_CUSTOM_OFFERS_DISTRIBUTOR_TEXT' | translate}}</a>
            </div>
            }
            @if(product?.ProviderSettings && product?.ProviderSettings?.ProviderCategory){
            <div class="d-flex justify-content-between align-items-center my-1">
                <span class="text-dark-75 fw-bold mr-2">{{'TRANSLATE.MICROSOFT_CART_LIST_TEMPLATE_AZURE_LABEL_TEXT_CATEGORY' | translate}}</span>
                <a href="javascript:void(0)" class="text-muted text-hover-primary">{{product?.ProviderSettings?.ProviderCategory | translate}}</a>
            </div>
            }
            @if(product.Quantity){
            <div class="d-flex justify-content-between align-items-center my-1">
                <span class="text-dark-75 fw-bold mr-2">{{'TRANSLATE.CUSROMER_PRODUCTS_LIST_TITLE_QUANTITY' | translate}}</span>
                <span class="text-muted">{{product.Quantity}}</span>
            </div>
            }
            @if(product.BillingTypeName){
            <div class="d-flex justify-content-between align-items-center">
                <span class="text-dark-75 fw-bold mr-2">{{'TRANSLATE.PARTNER_MANAGED_CART_LIST_TEMPLATE_USAGE_LABEL_TEXT_BILLING_TYPE' | translate}}</span>
                <a href="javascript:void(0)" class="text-muted text-hover-primary">{{'TRANSLATE.'+product.BillingTypeDescription| translate}}</a>
            </div>
            }
            @if(product.BillingTypeName.toLowerCase() === cloudHubConstants.BILLING_TYPE_PRICE){
            <div class="d-flex justify-content-between align-items-center my-1">
                <span class="text-dark-75 fw-bold mr-2">{{'TRANSLATE.MICROSOFT_CART_LIST_TEMPLATE_ONLINE_SERVICES_LABEL_TEXT_UNIT_PRICE' | translate}}</span>
                <span class="text-muted">
                    <span class="bold">{{product.DisplayFinalSalePrice | CurrencyFilter : product.CurrencySymbol : product.CurrencyDecimalPlaces : product.CurrencyThousandSeparator : product.CurrencyDecimalSeparator}}</span>&nbsp;
                    @if(product.Discount != null && product.Discount > 0){
                    <span class="text=danger">
                        <del class="ng-binding strike-through text-danger">{{product.DisplayOriginalSalePrice | CurrencyFilter : product.CurrencySymbol : product.CurrencyDecimalPlaces : product.CurrencyThousandSeparator : product.CurrencyDecimalSeparator}}</del>
                    </span>
                    }
                </span>
            </div>
            }
            @if(product.Discount != null && product.Discount > 0){
            <div class="d-flex justify-content-between align-items-center my-1">
                <span class="text-dark-75 fw-bold mr-2">{{'TRANSLATE.MICROSOFT_CART_LIST_TEMPLATE_ONLINE_SERVICES_LABEL_TEXT_DISCOUNT' | translate}}</span>
                <span class="text-muted">
                    @if(product.DiscountType?.toLowerCase() == cloudHubConstants.BILLING_TYPE_PERCENTAGE){
                    <span class="text-danger">{{product.Discount}}%</span>
                    }
                    @if(product.DiscountType?.toLowerCase() != cloudHubConstants.BILLING_TYPE_PERCENTAGE){
                    <span class="text-danger">{{product.Discount | CurrencyFilter : product.CurrencySymbol : product.CurrencyDecimalPlaces : product.CurrencyThousandSeparator : product.CurrencyDecimalSeparator }}</span>
                    }
                </span>
            </div>
            }
            <div class="d-flex justify-content-between align-items-center my-1">
                <span class="text-dark-75 fw-bold mr-2">{{'TRANSLATE.ORDER_DETAILS_FIELD_ORDERED_ON' | translate}}</span>
                <span class="text-muted text-lg-right ">{{product.OrderedOn | dateTimeFilter: globalDateFormat }}</span>
            </div>
            <div class="d-flex justify-content-between align-items-center my-1">
                <span class="text-dark-75 fw-bold mr-2">{{'TRANSLATE.ENTITY_NAME_ORDER' | translate}}</span>
                <span class="text-muted">{{'TRANSLATE.'+product.EntityName | translate}}</span>
            </div>
            @if(product.ScheduledDate !== null){
            <div class="d-flex justify-content-between align-items-center my-1">
                <span class="text-dark-75 fw-bold mr-2">{{'TRANSLATE.ORDER_DETAILS_SCHEDULED_DATE' | translate}}</span>
                <span class="text-muted">{{product.ScheduledDate | dateTimeWithUTCSuffixFilter:false}}</span>
            </div>
            }
            @if(showTermsAndConditionsForSubscriptionUpdate === true && product.IsTermsAndConditionsAccepted !== null){
            <div class="d-flex justify-content-between align-items-center my-1">
                <span class="text-dark-75 fw-bold mr-2">{{'TRANSLATE.ORDER_DETAILS_TERMS_AND_CONDITIONS' | translate}}</span>
                <span class="text-muted">{{'TRANSLATE.ORDER_DETAILS_TERMS_AND_CONDITIONS_ACCEPTED' | translate}}</span>
            </div>
            }
        </div>
    </div>

    <div class="card-footer p-5">
        <a [appPermission]="'menu_customer_comments'"  class="btn btn-block btn-sm btn-light-primary fw-bold text-uppercase mb-2 col-md-12" (click)="callManageProducts()">{{'TRANSLATE.BTN_TEXT_COMMENT' | translate}}</a>

        @if((product.ItemStatus === 'Scheduled' || ((product.CartStatusName === 'Scheduled' || product.CartStatusName === 'PartiallyFulfilled') && product.ItemStatus === 'Onhold') || (product.CartStatusName === 'Onhold' && (product.ItemStatus === 'Onhold' || product.ItemStatus === 'Scheduled') && product.ScheduledDate !== null)) && isScheduledDateFutureDate && (product.LinkedCartLineItemId === null || (product.LinkedCartLineItemId !== null && product.IsPrimaryInLinkedProduct))){
            <a [appPermission]="'BTN_REMOVE_AND_CANCEL_ORDER'" class="btn btn-block btn-sm btn-light-danger fw-bold text-uppercase py-2 col-md-12" (click)="cancelOrderedProduct()">{{'TRANSLATE.BTN_TEXT_REMOVE' | translate}}</a>
        }
    </div>
</div>
