<div class="modal-dialog m-auto w-100">
    <div class="modal-content">
        <div class="modal-header">
            @if(activeServiceDetail == 'Connectwise')
            {
            <h4 class="modal-title ">{{'TRANSLATE.PSA_PRODUCT_MAPPING_SELECT_AGREEMENT' | translate}}</h4>
            }
            @else
            {
            <h4 class="modal-title">{{'TRANSLATE.PSA_CUSTOMER_CONTRACT_TYPE_SELECT_PLACEHOLDER_TEXT' |
                translate}}</h4>
            }
            <div class="btn btn-sm btn-icon btn-active-color-primary" (click)="closeModalPopup()"
                data-bs-dismiss="modal">
                <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
            </div>
        </div>
        <div class="modal-body" id="modal-body">

            <ng-template #radioButton let-data="adtData" let-emitter="captureEvents">
                <div class="input-group-with-radio ps-2">
                        <input type="radio" name="radio" class="form-check-input mb-2" [checked]="data.selectedContract"
                            [disabled]="data.IsMaster === true || data.Status === 'Inactive'" (click)="updateSelectedList(data)">
                    <span>
                        {{data.Name}}
                        <span *ngIf="data.IsMaster === true"
                            class="label label-danger font-weight-bold label-inline mb-1 text-white badge bg-danger ms-md-2"
                            tooltip-append-to-body="true"
                            ngbTooltip="{{'TRANSLATE.PSA_AGREEMENT_LABEL_TOOLTIP_TEXT_MASTER_AGREEMENT' | translate}}">{{'TRANSLATE.PSA_AGREEMENT_LABEL_PILL_TEXT_MASTER'
                            | translate}}
                        </span>
                        <span  *ngIf="data.Status === 'Inactive'" class="label label-danger font-weight-bold label-inline text-white badge bg-danger ms-md-2">
                            {{'TRANSLATE.PSA_PRODUCT_LABEL_PILL_TEXT_INACTIVE' | translate}}
                        </span>  
                    </span>

                    <!-- <input type="radio" [(ngModel)]="data.IsSelected" [value]="true" name="radio" (change)="updateSelectedList(data)" required> -->
                </div>
            </ng-template>
            <div class="col-md-10 mb-0 pb-0">
                <input class="form-control" [(ngModel)]="name" (keyup)="onNameChange($event)" type="text" name="radio"
                    placeholder="{{'TRANSLATE.PLACEHOLDER_FOR_TEXT_SEARCH' | translate}}">
            </div>
            <ng-container *ngIf="contractDatatableConfig">
                <div class="custom-height" [ngClass]="agreements?.length === 0 ? 'no-height' : ''">
                <app-c3-table [datatableConfig]="contractDatatableConfig" [reload]="reloadEvent" [searchFilter]=false>
                </app-c3-table>
                </div>
            </ng-container>
        </div>
        <div class="modal-footer ">
            <button type="button" class="btn btn-light btn-active-light-primary" data-bs-dismiss="modal"
                (click)="closeModalPopup()">{{'TRANSLATE.BUTTON_TEXT_CANCEL' | translate}}</button>
            <button type="button" class="btn btn-primary btn-xs mr-2" data-bs-dismiss="modal"
                (click)="Submit()">{{'TRANSLATE.BUTTON_TEXT_SUBMIT' | translate}}</button>
        </div>
    </div>
</div>
