.product-description-card {

    .card-header,
    .card-body,
    .card-bottom {
        padding: 15px;
    }

    .divider {
        padding: 0 15px;
        border-top: var(--bs-border-width) dotted;
    }

}
::ng-deep{
    app-public-signup-payment-details-stripe{
        .margin-top-80{
            margin-top: 80px;
          }
        .top-space{
            margin-top: 100px;
        }
    }
}

hr.solid {
    border-top: 2px solid #bbb !important;
}