.container {
  position: relative;
  height: 400px;
  width: 100%;
  border: 1px solid #ccc;
}

.content {
  height: 100%;
  overflow: auto;
}

.card {
  .card-body {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .checkbox-list {
      display: flex;
      flex-direction: column;
      gap: 5px
    }
  }
}

.product-wrapper {
  position: relative;
  height: calc(100vh - (var(--bs-app-footer-height) + var(--bs-app-header-height) + var(--bs-app-toolbar-height) + 100px));
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 10px;
  margin:10px 0px;
}

.content {
  height: 100%;
  overflow: auto;
}

.card {
  // width:230px;
  // height:470px;
  // overflow: auto;
  .card-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .checkbox-list {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}
.filters-card {
height: calc(100vh - (var(--bs-app-footer-height) + var(--bs-app-header-height) + var(--bs-app-toolbar-height) + 76px ));
overflow: auto;
padding-top: 0;
padding-bottom: 0;
margin:20px 0;
}

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Internet explorer and Edge */
.example {
  -ms-overflow-style: none;
}



