<div class="model">
    <div>
        <div type="text/ng-template">
            <div class="modal-header">
                <h3 class="modal-title text-primary" id="modal-title"><span
                        translate="TRANSLATE.CUSTOM_PASSWORD_POPUP_HEADER_TEXT"></span></h3>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="m-heading-1 border-green m-bordered mb-4">
                    <div
                        class="notice bg-light-primary rounded border-primary border border-dashed min-w-lg-600px flex-shrink-0 p-6">
                        <span class="bold"> <span translate="TRANSLATE.CUSTOM_PASSWORD_POPUP_HELP_LINE_1"></span>
                        </span>
                        <span translate="TRANSLATE.CUSTOM_PASSWORD_POPUP_HELP_LINE_2"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="input-group col-md-12">
                        <div class="mb-5">
                            <div class="ng-scope">
                                <div class="radio-outline-2x">
                                    <div class="mb-3">
                                        <input type="radio" ng-checked="true" id="AutoGenerate"
                                            class="form-check-input-sm me-1" [(ngModel)]="this.passwordGenerationOption"
                                            (click)="passwordGenerationOptionClick($event)" name="generatePassword"
                                            value="auto">
                                        <label for="AutoGenerate" class="ng-binding">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            <span
                                                translate="TRANSLATE.CUSTOM_PASSWORD_POPUP_RADIO_BUTTON_TEXT_AUTO_GENERATE_PASSWORD"
                                                style="position: inherit;"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-md-radios ng-scope">
                                <div class="radio-list">
                                    <div class="mb-3">
                                        <input type="radio" ng-checked="" id="CustomGenerate"
                                            class="form-check-input-sm me-1" [(ngModel)]="this.passwordGenerationOption"
                                            (click)="passwordGenerationOptionClick($event)" value="custom">
                                        <label for="CustomGenerate" class="ng-binding">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            <span
                                                translate="TRANSLATE.CUSTOM_PASSWORD_POPUP_RADIO_BUTTON_TEXT_CUSTOM_PASSWORD"
                                                style="position: inherit;"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row" *ngIf="this.passwordGenerationOption == 'custom'">
                    <label class="col-md-4 control-label">
                        <i class="fa fa-info-circle tooltips text-default me-1" aria-hidden="true"
                            ngbTooltip="{{'TRANSLATE.CUSTOM_PASSWORD_POPUP_TOOLTIP_TEXT_ENTER_NEW_PASSWORD'|translate}}"></i>
                        <span translate="TRANSLATE.CUSTOM_PASSWORD_POPUP_LABEL_TEXT_ENTER_NEW_PASSWORD"></span>
                    </label>
                    <div class="col-md-6 ">
                        <div class="input-group">
                            <!-- <div class="input-group-prepend">
                                <button class="btn btn-lg btn-secondary btn-icon">
                                <span class="svg-icon svg-icon-secondary svg-icon-lg h-20px w-30px">
                                    <i class="ki-outline  ki-eye ">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                      </i>
                                </span></button>
                               <span class="input-group-text">
                                    <i ng-class="vm.isChecked ? 'fa fa-eye' : 'fa fa-eye-slash'" ng-click="vm.hideShowPassword(vm.isChecked)"></i>
                                </span> 
                                <input type="{{this.inputType}}" class="form-control" ngModel="this.customPassword" (change)="onCustomPasswordChange()" />
                            </div> -->

                            <!-- //new one -->
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i [ngClass]="isChecked ? 'fa fa-eye' : 'fa fa-eye-slash'"
                                        (click)="hideShowPassword(isChecked)"></i>
                                </span>
                            </div>
                            <input type="{{this.inputType}}" class="form-control form-control-sm"
                                [(ngModel)]="customPassword" (change)="onCustomPasswordChange()" />

                        </div>
                        <span class="text-danger" *ngIf="!this.isValid">{{this.passwordValidationMsg}}</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer mt-3">

                <a class="btn btn-secondary btn-sm mr-2" (click)="closeModalPopup()"><span
                        translate="TRANSLATE.BUTTON_TEXT_CANCEL"></span></a>
                <a class="btn btn-primary btn-sm mr-2" (click)="Submit()" ng-disabled="!vm.isValid"><span
                        translate="TRANSLATE.BUTTON_TEXT_OK"> </span></a>
            </div>
        </div>
    </div>
</div>